@import 'primeflex/primeflex.css';

html, body {
    margin: 2vh;
    background-color: var( --surface-b );
    font-family: var( --font-family );
}

.text-layout {
    color: var( --text-color );
}

.p-card-header{
    text-align: center;
    padding-top: 1vh;
}
